@{ 
    ViewBag.Title = "New Password"
}

<div class="container">
    <!-- Page title -->
    <div class="page-title">
        <ul>
            <li>
                <a href="@Url.Action("index","home")">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li class="active-color">New password</li>
        </ul>
    </div>

    <!-- login area -->
    <div class="login-area">
        <div class="row">
            <div class="col-lg-7 col-md-12 mr-auto ml-auto">
                <div class="login-wrapper">
                    <div class="login-tab-list">
                        <a href="#lg1">
                            <h4> login </h4>
                        </a>
                    
                    </div>
                    <div class="login-register">
                        <div class="tab-pane" id="lg2">
                            <div class="login-form-container">
                                <form action="@Url.Action("changepassword","account")">
                                 
                               
                                    <div class="form-group">
                                        <input type="password" name="Password" id="regPass" placeholder="Password"
                                               data-validation="strength"
                                               data-validation-strength="2">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="re-password" placeholder="Confirm password"
                                               data-validation="confirmation"
                                               data-validation-confirm="Password"
                                               data-validation-error-msg="Passwords are not same">
                                    </div>
                                    <div class="btn-box">
                                        <button type="submit" class="btn">Register</button>
                                    </div>
                               
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section script{
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
    <script>
        $(document).ready(function () {
            $.validate({
                modules: 'security',
                onModulesLoaded: function () {
                    var optionalConfig = {
                        fontSize: '12pt',
                        padding: '4px',
                        bad: 'Bad',
                        weak: 'Weak',
                        good: 'Good',
                        strong: 'Strong'
                    };

                    $('#regPass').displayPasswordStrength(optionalConfig);
                }
            });
        })
    </script>



}
