@model List<Futon.Models.Department>
@{
    ViewBag.Title = "Create";
}

<style>
    option {
        color: black;
    }


</style>


<div class="content">
    <div class="container-fluid">


        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title d-inline-block">Create</h4>

                </div>
                @if (Session["categoryError"] != null)
                {
                    <br />
                    <br />
                    <div class="alert alert-danger">
                        @Session["categoryError"]
                    </div>

                    Session["categoryError"] = null;
                }
                <div class="card-body table-responsive">
                    <form autocomplete="off" action="@Url.Action("create")" method="post" id="infoForm" enctype="multipart/form-data">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" name="Name">
                        </div>
                        <div class="form-group">
                            <label>Department</label>
                            <select class="form-control" name="DepartmentId">
                                <option style="color:black;"></option>

                                @foreach (var item in Model)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }


                            </select>
                        </div>
                        <button type="submit" class=" btn btn-info">Create</button>
                    </form>
                </div>
            </div>
        </div>


    </div>
</div>
